:root{
   --couleurePrincipale: coral;
   --white: #ffffff;
   --grey: ;

   --black: #000;
   --whiteShadow: #e6e6e6;
   --whiteCarte: #fff;
   --couleureFooter: rgb(223, 220, 220);
}

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body.nuit{
  --white: rgb(17, 16, 16);
  --black: #fff;
  --whiteShadow: rgb(17, 16, 16);
  --couleurePrincipale: grey;
  --whiteCarte: rgb(32, 31, 31);
  --couleureFooter: grey;
}

body{
  overflow-x: hidden;
  background: var(--white);
}

a{
  color: black;
  text-decoration: none;
}

li{
  list-style: none;
}

.banniere{
    height: 55vh;
    padding: 20px 20px 20px;
    position: relative;
}

.banniere .background{
  position: absolute;
  top: 0; left: 0;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  /* height: 57vh; */
}

.banniere .background::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(12, 12, 12, 0.4);
}

.banniere .background img{
  width: 100%;
  height: 55vh;
}

.banniere .enTete{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.banniere .enTete .lignes .ligne{
  content: ' ';
  position: absolute;
  width: 45%;
  height: 4px;
  background: #f1f1f1;
  top: 30px;
  right: 20px;
  border-radius: 4px;
  margin-top: 10px;
  max-width: 250px;
}

.banniere .enTete .lignes .ligne.l2{
  top: 47px;
  width: 25%;
  max-width: 150px;
}

.banniere .enTete img{
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  left: 20px;
}

.banniere h1{
    margin: 100px 0 50px;
    text-align: center;
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 900;
    width: 100%;
    word-spacing: 7px;
    letter-spacing: 2px;
    font-family: "Abril fatface", sans-serif;
    text-transform: uppercase;
}

.banniere h1 span{
  position: relative;
}

section .buttons{
  margin: 30px 0 0;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 40px;
}

section .buttons button{
  padding: 8px;
  color: white;
  background: transparent;
  border: .5px solid coral;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 10px;
  white-space: nowrap;
}
 
@media (min-width: 500px){
  .banniere{
    height: 60vh;
  }

  .banniere h1{
    font-size: 5.5vw;
  }

  .banniere .enTete .lignes .ligne{
    top: 30px;
    max-width: 200px;
  }
  
  .banniere .enTete .lignes .ligne.l2{
    top: 50px
  }

}

@media (min-width: 800px){
  body{
    max-width: 90%;
    margin: 0 5%;
  }  
}

nav{
  position: fixed;
  left: 50%;
  bottom: 10px;
  width: 100%;
  max-width: 300px;
  transform: translate(-50%, 0);
  background: var(--white);
  border-radius: 10px 10px 0 0;
  z-index: 200;

}

nav ul{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px 10px 0 0;
  padding: 6px 0;
  margin: 0 2.5%;
  background: var(--white);



}

nav ul li{
  font-size: 9px;
  text-align: center;
  text-transform: uppercase;
}

nav ul a{
  position: relative;
}

nav ul li p{
  text-overflow: hidden;
  color: var(--black);
}

nav ul li i{
   font-size: 18px !important;
   color: coral;
   margin-bottom: 6px;
   padding: 7px 7px;
   border-radius: 4px;
   border-radius: 8px;
   background: linear-gradient(315deg, var(--whiteShadow), var(--white));
   box-shadow:  -4px -4px 8px #d6d6d6,
                4px 4px 8px #ffffff;
}

@media (min-width: 700px){
  nav{
    max-width: 500px;
  }
  
  nav ul p{
    font-size: 13px;
  
  }
}

.description{
  background: var(--couleurePrincipale);
  margin-top: -20px;
  height: 150px;
  padding: 20px 10px ;
  margin-bottom: 220px;
}

.description h3{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  text-align: center;
}

.description .cartes{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
}

.description .cartes .carte{
  background: var(--whiteCarte);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 4px 4px rgba(255, 127, 80, 0.7);
}

.description .cartes .carte h4{
  margin: 10px 0;
  color: var(--black);

}

.description .cartes .carte span{
  opacity: 0.5;
  white-space: nowrap;
  margin-bottom: 20px;
  color: var(--black);

}

.description .cartes .carte p{
  margin-top: 10px;
  font-size: 18px;
  color: var(--black);

}

.description .cartes .carte img{
  width: 70px;
  height: 50px;
  margin: 0 calc(50% - 30px);
}

@media (max-width: 500px){
  .description{
    margin-top: 0px;
  }

  .description h3{
    font-size: 16px;
  }

  .description .cartes{
    overflow: scroll hidden;
  }
}

.objectifs{
   margin: 60px 0;
   justify-content: center;
}

.objectifs img{
    width: 90vw;
    height: 100px;
    border-radius: 15px 15px 0 0;
    margin: 0 5vw;
    display: none;
}

.objectifs .objectifsTexte{
  width: 90vw;
  margin: 0 5vw;
}

.objectifs .objectifsTexte h3{
   height: 120px;
   text-align: center;
   background: linear-gradient(rgba(255, 127, 80, 0.4) , rgba(255, 127, 80, 0.4) ), url(./imgs/etudiantSouriant.jpg) center/cover no-repeat;  
   color: #ffffff;
   padding: 10px;
   border-radius: 15px 15px 0 0;
   text-transform: capitalize;
}

.objectifs .objectifsTexte p{
   text-align: left;
   margin: 20px 0 15px;
   font-size: 18px;
   color: var(--black);
}

.objectifs .objectifsTexte p span{
   display: none;
}
.objectifs .objectifsTexte details{
  font-size: 18px;
  color: var(--black);
}

.objectifs .objectifsTexte details summary{
   list-style: none;
   text-transform: capitalize;
   position: relative;
   
}

.objectifs .objectifsTexte details summary::before{
   content: '+';
   transition: transform 0.4s ease-out;
   right: 10px;
   padding: 3px 7px;
   border: .5px solid coral;
   border-radius: 50%;
   margin-right: 10px;
}

.objectifs .objectifsTexte details summary::before[content]{
  margin-left: -10px;
  text-align: center;
}

.objectifs .objectifsTexte details[open] summary{
  display: none;
}


.objectifs .objectifsTexte button, .options button{
   text-align: center;
   justify-content: center;
   margin: auto;
   position: relative;
  
   font-size: 16px;
   padding: 7px 13px;
   border-radius: 5px;
   border: none;
   text-transform: uppercase;
   font-size: 13px;
   box-shadow: 1px 3px 8px rgba(255, 127, 80, 0.4);
}

.objectifs .objectifsTexte button{
  left: 50%;
  transform: translate(-50%, 0);
}

.objectifs .objectifsTexte button i, .options button i{
  color: coral;
  margin: 0 0  0 10px;
  font-size: 17px;
  transform: scale(0.8);
  transition: all .5s ease-out;
  margin: 2px 0 0 0 ;
}

.objectifs .objectifsTexte button:hover, .options button:hover{
  box-shadow:0 0 0 white;
}

.objectifs .objectifsTexte button:hover i, .options button:hover i{
  transform: translateX(10px) scale(1.2);
  margin-right: 10px;
}


@media (min-width: 500px){
  .objectifs{
    display: flex;
    flex-wrap: nowrap;
 }
 
 .objectifs img{
     width: 50%;
     border-radius: 0;
     display: block;
     border-radius: 5px;
     height: 270px;
     margin: 10px 0;
 }
 
 .objectifs .objectifsTexte{
   width: 90vw;
   margin: 0 5vw;
 }
 
 .objectifs .objectifsTexte h3{
    height: auto;
    text-align: left;
    background: none; 
    padding: 0px;
    border-radius: 0;
    color: rgb(32, 31, 31);
    font-family: "Abril fatface", sans-serif;
    font-size: 2.5vw;
    text-transform: capitalize;
    display: grid;
    position:  relative;
 }

 .objectifs .objectifsTexte h3::after{
    content: ' ';
    position: absolute;
    left: 0; bottom: -5px;
    width: 30px; height: 2px;
    background: coral;
 }
 
 
 .objectifs .objectifsTexte p{
    text-align: left;
    font-size: 20px;
 }
 
 .objectifs .objectifsTexte button, .options button{
    font-size: 16px;
    padding: 10px 17px;
    box-shadow: 1px 3px 8px rgba(255, 127, 80, 0.7);
    margin-top: 10px;
 }

 .objectifs .objectifsTexte button, .options button{
    font-size: 16px;
    padding: 10px 17px;
    box-shadow: 1px 3px 8px rgba(255, 127, 80, 0.7);
    margin-top: 10px;
 }

 details{
  display: none;
 }

 .objectifs .objectifsTexte p span{
  display: BLOCK;
}

}

.options{
  text-align: center;
}

.options h2{
  text-transform: uppercase;
  font-family: "Abril fatface", sans-serif;
  font-size: 30px;
  position: relative;
  display: inline-block;
  letter-spacing: 2px;
  word-spacing: 4px;
  color: var(--black);
}

.options h2::before{
  content: '';
  position: absolute;
  bottom: -5px; left: 0;
  width: 35%; height: 4px;
  background: coral;
  border-radius: 0 2px 2px 0;
}


.options .universites{
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll hidden;
  gap: 10%;
  margin: 30px 5%;
  padding-bottom: 10px;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
}

.options .universites .universite{
  box-shadow:  -4px -4px 8px #d6d6d6,
  4px 4px 8px #ffffff;
  padding: 20px 30px 5px ;
  border: .5px solid rgba(255, 127, 80, 0.2);
  border-radius: 10px;
  background: linear-gradient(145deg, var(--white), var(--whiteShadow));
  box-shadow:  7px 7px 14px #b8b6b6,
               -7px -7px 14px var(--white);
}

.options .universites .universite img{
 width: 100px;
 height: 100px;
 border-radius: 10px 10px 0 0 
}

.options .universites .universite h3{
  text-align: center;
  font-size:  13px;
  text-transform: capitalize;
  margin: 10px 0 0 0;
  color: var(--black);
}

.options .universites::-webkit-scrollbar{
  height: 5px;
}
.options .universites::-webkit-scrollbar-button{
  background: CORAL;
  width:  1px;
} 

.options .universites::-webkit-scrollbar-thumb{
  background: coral;
  border-radius: 9px;
}

@media (max-width: 400px){
  .options h2{
   font-size: 23px;
  }
}

footer{
  margin: 50px 0;
  background: rgb(223, 220, 220);
  padding: 20px 10px;
  border-radius: 10px 10px 0 0;
}

footer .contact{
     display: flex;
     flex-wrap: nowrap;
     gap: 20px;
     justify-content: space-around;
    align-items: center;
}

footer .contact .footer1  {
  flex-direction: column;
  display: flex;
  gap: 10px;
  justify-content: center;
}

footer .contact .footer1 img{
     width: 100px;
     height: 90px;
     justify-content: center;
}

footer .contact .footer1 p{
    font-size: 18px;
    text-align: center;
}

footer .contact .footer1 p i{
   color: WHITE;
   margin-right: 10px;
}

footer  .suivre h2{
    font-size: 22px;
    white-space: nowrap;
    position: relative;
    margin: 20px 0;
}

footer .suivre h2:before{
    content:  '';
    position: absolute;
    bottom: -5px; left: 0;
    width: 20%; height: 4px;
    background: coral;
    border-radius: 5px;
}

footer .suivre .icons {
  display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

footer  i{
  padding: 5px;
  border: .5px solid coral;
  border-radius: 5px;
}

footer p  i{
  background-color: coral;
  color: #fff;
}

footer .suivre .icons i:nth-child(1){
  animation: face 2s infinite reverse;
  transform: scale(1);
  /* background-color: coral; */
}


@keyframes face {
 from{transform: scale(0.9);}
 to{transform: scale(1);}
}

.footer2 p{
 margin-top: 10px;
 line-height: 40px;
}

.footer2 i{
  transition: transform .3s ease-out;
}

.footer2 i:hover{
  background: coral;
  transform: translateY(-5px);
  color: #fff;
}

.developpeur p{
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  margin: 30px 0  10px;
}

.developpeur p span{
  color: coral;
  font-size: 20px;
}

.surplus{
  display: none;
}

@media (max-width: 400px){

  footer img{
    margin: auto;
  }

  footer .contact{
    display: block;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-around;
   align-items: center;
}

.suivre{
  width: 80%;
}

.footer1 p{
  display: none;
}

.surplus{
  display: block;
 font-size: 18px;

}

.surplus i{
 margin-right: 10px;
}

.developpeur p{
  text-align: left;
}

}